
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}
.bar-left{
  position:absolute;
  top:25px;
  left:-20%;
  width: 40%;
  height: 40px;
  background-color: #18C3E2;
}
.bar-right{
  position:absolute;
  top:25px;
  width: 100%;
  height: 40px;
  background-color: #277B90;
}
.box {
  padding-top:5px;
	display: flex;
}

.box .inner {
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 1.1em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: #18C3E2;
	color:black ;
	transform-origin: left;
	transform: perspective(214px) rotateY(-50deg);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.box .inner:last-child {
	background-color: #277B90;
	color: white;
	transform-origin: right;
	transform: perspective(214px) rotateY(50deg);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -120%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  position: fixed;
  top: -12px;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
  z-index: 1
}

#mainNav .navbar-brand {
  font-weight: 700;
  padding-top:-20px;
  z-index: 1
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  z-index: 2
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top:0px;
  bottom:0;
  width:100%;
  z-index: 10;
  opacity: 0.6;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
.size-picker {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.small {
  font-size: 11px;
  font-size:.7rem;
  color:#999;
  margin-top:10px;
}
.align-right {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}
.size-desc {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}


#nav{
  position:fixed;
  top:50px;
  z-index: 1;
  left:10px;
  height: 30px;
  width: 30px;
}

#submit{
  float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

#submit:hover {
  background: #ccc;
}

#Demo3{
  display: inline-block;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 50px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.8;
    padding-bottom: 60px;
    border: #00bebe solid 1px;
    border-radius: 25px 25px 25px 25px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#map {
      position:absolute;
      top:50px;
      bottom:-45px;
      width:100%;
    }

#map h3 {
  left: 0px;
  font-weight: bold;
  color: #729cc2;
  padding: 0;
  font-size: 20px;
  margin: 10px;
}

#map p{
  color: black;
  padding: 0;
  font-size: 10px;
  margin: 10px;
}

#map h4 {
  color: black;
  padding: 0;
  font-size: 16px;
  margin: 10px;
}
