
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
  margin-top:60px
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}
.bar-left{
  position:absolute;
  top:25px;
  left:-20%;
  width: 40%;
  height: 40px;
  background-color: #18C3E2;
	display: flex;
}
.bar-right{
  position:absolute;
  top:25px;
  width: 100%;
  height: 40px;
  background-color: #277B90;
	display: flex;
}
.box {
  padding-top:5px;
	display: flex;
}

.box .inner {
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 1.1em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: #18C3E2;
	color:black ;
	transform-origin: left;
	transform: perspective(214px) rotateY(-50deg);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.box .inner:last-child {
	background-color: #277B90;
	color: white;
	transform-origin: right;
	transform: perspective(214px) rotateY(50deg);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -120%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
  position: fixed;
  top: -12px;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
  z-index: 20
}

#mainNav .navbar-brand {
  font-weight: 700;
  padding-top:-20px;
  z-index: 20
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  z-index: 2
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top:0px;
  bottom:0;
  width:100%;
  z-index: 20;
  opacity: 0.6;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#menu {
        position: absolute;
        bottom:30px;
        right:0px;
        background: #fff;
        opacity: 0.5;
        padding: 5px;
        font-family: 'Open Sans', sans-serif;
    }

    .shining-border {
      border: #00bebe solid 1px;
      transition: box-shadow 0.5s ease-out, background 0.3s, color 0.3s;
    }
    .shining-border:hover {
      box-shadow: 0 0 5px #00dcdc, 0 0 5px #00dcdc inset;
    }
    .bar-container {
      top:-70px;
      left:70%;
      width:25%;
      height: 100%;
      position:relative;
      padding: 0px;
      color: #00bebe;
      font-family: 'Orbitron', sans-serif;
      font-size: 14px;
      z-index: 0;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
    .bar-container div {
      padding: 10px;
      z-index: 1;
    }

    .bar-container button,
    .bar-container button:hover,
    .bar-container button {
      border: #00bebe solid 1px;
      transition: box-shadow 0.5s ease-out, background 0.3s, color 0.3s;
      background: #003232;
      border-radius: 5px;
    }
    .bar-container button:active {
      background: #00d2d2;
      color: #212121;
    }
    .bar-container input,
    .bar-container textarea {
      -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       background: none;
       border: none;
       outline: none;
     }
    .bar-container input[type="checkbox"] {
      position: relative;
      display: inline-block;
      top:5px;
      width: 40px;
      height: 20px;
      margin-bottom:10px ;
      margin-left:5px;
      margin-right:5px;
      border-radius: 10px;
      background: #212121;
      border: #00bebe solid 1px;
      transition: box-shadow 0.5s ease-out, background 0.3s, color 0.3s;
    }
    .bar-container input[type="checkbox"]:hover {
      box-shadow: 0 0 5px #00dcdc, 0 0 5px #00dcdc inset;
    }
    .bar-container input[type="checkbox"]:active {
      background: #00d2d2;
    }
    .bar-container input[type="checkbox"]:after {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #00dcdc;
      transition: left 0.4s ease-out;
    }
    .bar-container input[type="checkbox"]:checked:after {
      left: 22px;
    }
    .window {
      position: fixed;
      top: -45px;
      margin-left: 10px;
      text-align: center;
      align-content: center;
      width:300px;
      height: 195px;
      right: 0px;
      background: #212121;
      -webkit-transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
              transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
      background: linear-gradient(45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px), linear-gradient(-45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px);
      background-size: 25px 25px;
      border: #00bebe solid 1px;
      border-radius: 25px 25px 25px 25px;
      box-shadow: -25px -10px 30px rgba(0, 0, 0, 0.3);
      z-index: 1
    }
    .window:before {
      content: attr(header);
      position: absolute;
      top: 20px;
      left: -1px;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transform: translateY(-100%) rotate(-90deg) translateX(-100%);
              transform: translateY(-100%) rotate(-90deg) translateX(-100%);
      padding: 2px 10px;
      color: #fff;
      background: #780000;
      border-radius: 5px 5px 0 0;
    }
    .window2 {
      position: absolute;
      height: 175px;
      top: 183px;
      width:300px;
      right: 0px;
      background: #212121;
      -webkit-transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
              transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
      background: linear-gradient(45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px), linear-gradient(-45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px);
      background-size: 25px 25px;
      border: #00bebe solid 1px;
      border-radius: 25px 25px 25px 25px;
      box-shadow: -25px -10px 30px rgba(0, 0, 0, 0.3);
      z-index: 1
    }
    .window2:before {
      content: attr(header);
      position: absolute;
      top: 20px;
      left: -1px;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transform: translateY(-100%) rotate(-90deg) translateX(-100%);
              transform: translateY(-100%) rotate(-90deg) translateX(-100%);
      padding: 2px 10px;
      color: #fff;
      background: #780000;
      border-radius: 5px 5px 0 0;
    }
    .window3 {
      position: fixed;
      width:300px;
      height: 190px;
      top: 360px;
      right: 0px;
      background: #212121;
      -webkit-transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
              transform: rotateY(-25deg) rotateX(0deg) translateY(100%);
      background: linear-gradient(45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px), linear-gradient(-45deg, #212121 15px, rgba(255, 255, 255, 0.08) 15px, #212121 16px);
      background-size: 25px 25px;
      border: #00bebe solid 1px;
      border-radius: 25px 25px 25px 25px;
      box-shadow: -25px -10px 30px rgba(0, 0, 0, 0.3);
    }
    .window3:before {
      content: attr(header);
      position: absolute;
      top: 20px;
      left: -1px;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transform: translateY(-100%) rotate(-90deg) translateX(-100%);
              transform: translateY(-100%) rotate(-90deg) translateX(-100%);
      padding: 2px 10px;
      color: #fff;
      background: #780000;
      border-radius: 5px 5px 0 0;
    }
    .range-picker {
      margin-left:35px;
      margin-bottom:5px;
      width: 200px;
      font-size: 16px;
      font-size:1rem;
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      margin-top:0px;
      -webkit-box-align:center;
      -webkit-align-items:center;
          -ms-flex-align:center;
              align-items:center;
      line-height:.9em;
    }
    .range-picker div {
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      border-right:1px solid #bbb;
      border-top:1px solid #bbb;
      border-bottom:1px solid #bbb;
      -webkit-box-align:center;
      -webkit-align-items:center;
          -ms-flex-align:center;
              align-items:center;
      color:#bbb;
      width:30px;
      box-sizing:border-box;
      cursor:pointer;
      -webkit-box-pack:center;
      -webkit-justify-content:center;
          -ms-flex-pack:center;
              justify-content:center;
      height:30px;
      -webkit-transition:background .5s ease;
              transition:background .5s ease;
    }
    .highlight-window.mobile {
      display:none;
    }
    .range-picker:hover {
      box-shadow: 0 0 5px #00dcdc, 0 0 5px #00dcdc inset;
    }
    .range-picker .active {
      -webkit-transform:scale(1.2);
          -ms-transform:scale(1.2);
              transform:scale(1.2);
      background:#00bebe;
      margin-right:3px;#00bebe
      color:#000;
      border:1px solid #666;
      z-index:1;
    }
    .check {
      position:absolute;
      right:0px;
      left:0px;
      margin-left:auto;
      margin-right:auto;
      background:transparent;
      width:0px;
      bottom:-3px;
      border-left:10px solid transparent;
      border-bottom:10px solid #ccc;
      border-right:10px solid transparent;
      height:0px;
    }
    .range-picker div:hover {
      background:#eee;
      -webkit-transition:background .2s;
              transition:background .2s;
    }
    .range-picker div:first-child {
      border-left:1px solid #bbb;
    }
    .range-picker div.active:first-child {
      border-left:1px solid #333;
    }
  .emp2{
      font-size:15px;
      top:-10px;
      line-height: 13px
    }
  .emp{
      position:relative;
      font-size:15px;
      top:0px;
      padding-top: 10px;
      padding-left: 80px;
      color:#f46d43
    }


#info{
    position:absolute;
    margin:10px;
    right:10px;
    left:10px;
    top:325px;
    z-index:3;
    font-family:Arial Black;
    font-size:17px;
    color:#000000;
}

#tripcount{
width:130px;
text-align:center;
}

#seperator{
  width:10px;
  text-align:center;
}

#cost{
  width:130px;
  text-align:center;
}

#tripcount-num{
width:130px;
font-family:Arial Black;
font-size:15px;
text-align:center;
}

#cost-num{
  width:130px;
  font-family:Arial Black;
  font-size:15px;
  text-align:center;
}

#population{
font-size:11px;
width:80px;
text-align:center;
}

#seperator{
  width:3px;
  text-align:center;
}

#median-age{
  font-size:11px;
  width:80px;
  line-height: 13px;
  text-align:center;
}

#medincome{
font-size:11px;
width:80px;
line-height: 13px;
text-align:center;
}

#population-num{
width:80px;
font-family:Arial;
font-size:11px;
line-height: 13px;
text-align:center;
}

#median-age-num{
  width:80px;
  font-family:Arial;
  font-size:11px;
  text-align:center;
}

#medincome-num{
  width:80px;
  font-family:Arial;
  font-size:11px;
  text-align:center;
}

#dis-CBD{
font-size:11px;
width:80px;
text-align:center;

top:-10px;
}

#dis-septa{
font-size:11px;
width:80px;

top:-10px;
text-align:center;
}

#dis-crime{
padding-left: 5px;
font-size:11px;

top:-10px;
width:80px;
text-align:center;
}

#dis-CBD-num{
  padding-left: 25px;
  width:80px;
  top:-20px;
  font-family:Arial;
  font-size:11px;
  text-align:left;
}

#dis-septa-num{
  width:80px;
  font-family:Arial;
  font-size:11px;

  padding-top:-20px;
  text-align:center;
}

#dis-crime-num{
  width:80px;

  top:-20px;
  font-family:Arial;
  font-size:11px;
  text-align:center;
}

#map {
      position:fixed;
      top:0px;
      bottom:-45px;
      width:100%;
      z-index: 0
    }

#map h3 {
  left: 0px;
  font-weight: bold;
  color: #40BFBF;
  padding: 0;
  font-size: 20px;
  margin: 10px;
}

#map p{
  color: black;
  padding: 0;
  font-size: 10px;
  margin: 10px;
}

#map h4 {
  color: black;
  padding: 0;
  font-size: 16px;
  margin: 10px;
}
#nav{
  position:fixed;
  top:50px;
  z-index: 1;
  left:10px;
  height: 30px;
  width: 30px;
}
.sidenav {
    width: 0;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 50px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.8;
    padding-bottom: 60px;
    border: #00bebe solid 1px;
    border-radius: 25px 25px 25px 25px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
